@page
@model MarioWebAPP.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}
<div id="root">
    <div class="container">

        <div class="mt-3 fixed">
            <form class="px-4">
                <div class="Title"><h2>Create new account</h2></div>
                <div class="row">
                    <div class="form-group col-6">
                        @*帳號*@
                        <label for="Account">Account <span class="text-danger fw-bold">*</span></label>
                        <input type="email"
                               class="form-control"
                               id="account"
                               aria-describedby="emailHelp"
                               placeholder="Email"
                               v-model.trim="account"
                               name="account"
                               required />

                    </div>
                    <div class="form-group col-6">
                        @*密碼*@
                        <label for="Password">Name <span class="text-danger fw-bold">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               placeholder="Name"
                               v-model.trim="name"
                               required />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @*國家*@
                        <label for="">Country <span class="text-danger fw-bold">*</span></label>

                        <select name="Country" id="country" v-model="selectedCountry" class="d-block form-select">
                            <option value="-Select-" selected disabled>-Select-</option>
                            <option :value="cou" v-for="(cou, index) in country" :key="index">{{cou}}</option>
                        </select>

                    </div>
                    <div class="form-group col-6">
                        @*城市*@
                        <label for="City">City <span class="text-danger fw-bold">*</span></label>

                        <select name="City" id="city" v-model="selectedCity" class="d-block form-select">
                            <option value="" selected disabled>-Select-</option>
                            <option :value="cit" v-for="(cit, index) in city" :key="index">{{cit}}</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        @*性別*@
                        <label for="">Gender</label>
                        <div class="d-flex">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       id="Male"
                                       v-model="gender"
                                       value="male" />
                                <label class="form-check-label mr-3" for="Male"> Male </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       id="Female"
                                       v-model="gender"
                                       value="female" />
                                <label class="form-check-label" for="Female"> Female </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <!-- v-if處理 -->
                        <label for="Sales">Sales <span class="text-danger fw-bold">*</span></label>
                        @*業務*@
                        <select name="Sales" id="sales" class="d-block form-select" v-model="selectedSales" @@change="addToSalesList">
                            <option value="" selected disabled>-Select-</option>
                            <option :value="sa" v-for="(sa, index) in sales" :key="index">{{sa}}</option>
                        </select>

                        <ul class="d-inline-flex w-auto">
                            <li class="w-auto h-25 border border-dark mt-1 d-inline mr-2 font-weight-bold"
                                v-for="(sesa,index) in salesList"
                                :key="sesa">
                                {{sesa}}
                                <button @@click="removeSales(index)" class="btn btn-primary btn-sm">Remove</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group border-primary">
                    @*感興趣產品*@
                    <p>Your interested products:</p>
                    <div class="border h-auto p-2">
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="PRIME Series"
                                   id="1"
                                   value="PRIME Series"
                                   v-model="interested" /><label for="1" class="pl-1">PRIME Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="VERTEX Series"
                                   id="2"
                                   value="VERTEX Series"
                                   v-model="interested" /><label for="2" class="pl-1">VERTEX Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="FOCUS Series"
                                   id="3"
                                   value="FOCUS Series"
                                   v-model="interested" /><label for="3" class="pl-1">FOCUS Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="CORE Series"
                                   id="4"
                                   value="CORE Series"
                                   v-model="interested" /><label for="4" class="pl-1">CORE Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="S12III Series"
                                   id="5"
                                   value="S12III Series"
                                   v-model="interested" /><label for="5" class="pl-1">S12III Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="INDUSTRIAL"
                                   id="6"
                                   value="INDUSTRIAL"
                                   v-model="interested" /><label for="6" class="pl-1">INDUSTRIAL</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="Other"
                                   id="7"
                                   value="Other"
                                   v-model="interested" /><label for="7" class="pl-1">Other</label>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <p>Remark:</p>
                    <textarea name="remark"
                              id="remark"
                              cols="70"
                              rows="5"
                              class="form-control"
                              v-model="remark"></textarea>
                </div>

                <div class="form-group form-check"></div>
                <button type="submit" class="btn btn-primary mx-3" @@click="submit">Submit</button>
                <button type="reset" class="btn btn-primary mx-3" @@click="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script>

    const vm = Vue.createApp({
        data() {
            return {
                account: "",
                name: "",
                remark: "",
                gender: "",
                interested: [],
                country: "",
                city: "",
                sales: [],
                salesList: [],
                localRouter: "",
                selectedSales: "",
                selectedCountry: "",
                selectedCity: "",
                test: "",
                countryIndex: 2,
                cityIndex: 0,
                salesStatus: true,
                accountError: false,
                accountErrMsg: ""
            };
        },
        async created() {
            this.localRouter = await window.location.pathname;
            console.log(this.localRouter);
            this.getSales();

        },

        mounted() {
            this.getCountry();
        },


        computed: {
        },
        watch: {
            selectedCountry(n, o) {
                if (n != "") {
                    this.getCity()
                }
            },
            account: function () {
                var isMail = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
                if (!isMail.test(this.email)) {
                    this.emailError = true;
                    this.emailErrMsg = 'email格式錯誤';
                }
                else {
                    this.emailError = false;
                }
            }
        },
        methods: {
            removeSales(index) {
                this.salesList.splice(index, 1)
            },

            async submit() {
                var _this = this;
                let fd = new FormData();
                fd.append("account", _this.account)
                fd.append("name", _this.name)
                fd.append("country", _this.selectedCountry)
                fd.append("city", _this.selectedCity)
                fd.append("gender", _this.gender)
                fd.append("remark", _this.remark)
                let result = await $axiosPost(this.localRouter + "?handler=Submit", fd);

            },
            cancel() {
                document.getElementById("account").innerHTML = "";
                document.getElementById("name").innerHTML = "";
                document.getElementById("remark").innerHTML = "";
                this.interested = [];
            },
            async getSales() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetSales");
                this.sales = result;
            },
            async getCountry() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetCountry");
                this.country = result;
            },
            async getCity() {
                var _this = this;
                let fd = new FormData();
                fd.append("country", _this.selectedCountry)
                let result = await $axiosPost(this.localRouter + "?handler=GetCity", fd);
                this.city = result;
            },

            async test1() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetCountryCity");
                this.city = result;
            },
            addToSalesList() {
                if (!this.salesList.includes(this.selectedSales)) {
                    this.salesList.push(this.selectedSales);
                }
                console.log(this.selectedSales)
            },
            checkedSales() {
                this.salesStatus = this.salesList.includes(this.selectedSales)
                console.log(salesStatus);
            },
            showAlert() {
                alert('新增成功');
            }

        },
    });
    vm.mount("#root");


</script>

