@page
@model MarioWebAPP.Pages.ModifyModel
@{
    ViewData["Title"] = "Modify";
}
<div id="root">
    <div class="container">

        <div class="mt-3 fixed mb-5">
            <form class="px-4">
                <div class="Title"><h2>Modify the account</h2></div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="Account">Account</label>

                        <label class="d-block font-monospace fw-bold fs-5">{{results.Account}}</label>
                    </div>
                    <div class="form-group col-6">
                        <label for="Name">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               placeholder="Name"
                               v-model="results.Name" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @*國家*@
                        <label for="">Country <span class="text-danger fw-bold">*</span></label>

                        <select name="Country" id="country" v-model="results.Country" class="d-block form-select">
                            <option value="-Select-" selected disabled>-Select-</option>
                            <option :value="cou" v-for="(cou, index) in countryList" :key="index">{{cou}}</option>
                        </select>

                    </div>
                    <div class="form-group col-6">
                        @*城市*@
                        <label for="City">City <span class="text-danger fw-bold">*</span></label>

                        <select name="City" id="city" v-model="results.City" class="d-block form-select">
                            <option value="" selected disabled>-Select-</option>
                            <option :value="cit" v-for="(cit, index) in cityList" :key="index">{{cit}}</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="">Gender</label>
                        <div class="d-flex">
                            @*性別*@
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       id="Male"
                                       v-model="results.Gender"
                                       value="Male" />
                                <label class="form-check-label mr-3" for="Male"> Male </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       id="Female"
                                       v-model="results.Gender"
                                       value="Female" />
                                <label class="form-check-label" for="Female"> Female </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <!-- v-if處理 -->
                        <label for="Sales">Sales</label>
                        @*業務*@
                        <select name="Sales" id="sales" class="d-block form-select" v-model="selectedSales" @@change="addToSales">
                            <option :value="" selected disabled>-Select-</option>
                            <option :value="sa" v-for="(sa, index) in salesList" :key="index">{{sa}}</option>
                        </select>

                        <div class="d-inline-flex w-auto">
                            <div class="w-auto h-25  mt-1 d-inline mr-3 font-weight-bold"
                                 v-for="(sa,index) in results.Sales"
                                 :key="index">
                                {{sa}}
                                <button @@click.prevent="removeSales(index)" class="btn btn-outline-danger btn-sm "><span class="fw-bold ">X</span></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group border-primary">
                    <p>Your interested products:</p>
                    @*興趣產品*@
                    <div class="border h-auto p-2">
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="PRIME Series"
                                   id="1"
                                   value="PRIME Series"
                                   v-model="results.Interest" /><label for="1" class="pl-1">PRIME Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="VERTEX Series"
                                   id="2"
                                   value="VERTEX Series"
                                   v-model="results.Interest" /><label for="2" class="pl-1">VERTEX Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="FOCUS Series"
                                   id="3"
                                   value="FOCUS Series"
                                   v-model="results.Interest" /><label for="3" class="pl-1">FOCUS Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="CORE Series"
                                   id="4"
                                   value="CORE Series"
                                   v-model="results.Interest" /><label for="4" class="pl-1">CORE Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="S12III Series"
                                   id="5"
                                   value="S12III Series"
                                   v-model="results.Interest" /><label for="5" class="pl-1">S12III Series</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="INDUSTRIAL"
                                   id="6"
                                   value="INDUSTRIAL"
                                   v-model="results.Interest" /><label for="6" class="pl-1">INDUSTRIAL</label>
                        </span>
                        <span class="ml-3">
                            <input type="checkbox"
                                   name="Other"
                                   id="7"
                                   value="Other"
                                   v-model="results.Interest" /><label for="7" class="pl-1">Other</label>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    @*備註*@
                    <p>Remark:</p>
                    <textarea name="remark" id="remark" cols="70" rows="5" class="form-control" v-model="results.Remark"></textarea>
                </div>

                <div class="form-group form-check">
                    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                </div>
                <button type="button" @@click="submit" class="btn btn-primary">Submit</button>
                @*<button type="reset" class="btn btn-primary">Cancel</button>*@
            </form>
        </div>
    </div>
</div>

<script>
    const vm = Vue.createApp({
        data() {
            return {
                selectedSales: "",
                localRouter: "",
                cityList: "",
                countryList: "",
                salesList: "",
                results: {
                    MemberNo: "",
                    CreateDate: "",
                    Name: "",
                    Account: "",
                    Country: "",
                    City: "",
                    Gender: "",
                    Remark: "",
                    UpdateTime: "",
                    UpdateBy: "",
                    Sales: [],
                    Interest: [],
                    Remark: "",
                    NewSales:[],
                    NewInterest:[]
                }

            }
        },
        mounted() {
            this.getMember()
            this.getMemberSales()
            this.getCountry()
            this.getMemberInterest()
        },
        watch: {
            'results.Country'(n, o) {
                if (n != "") {
                    this.getCity()
                }
            },
        },
        async created() {
            this.localRouter = await window.location.pathname;
            console.log(this.localRouter);
            this.getSales();
        },
        methods: {
            removeSales(index) {
                this.salesList.splice(index, 1)
            },
            async getMember() {
                var _this = this;
                let memberNo = new URL(location.href).searchParams.get('MemberNo');
                let fd = new FormData();
                fd.append("memberNo", memberNo)
                let result = await $axiosPost(this.localRouter + "?handler=GetMember", fd);
                this.results.MemberNo = result[0].MemberNo;
                this.results.CreateDate = result[0].CreateDate;
                this.results.Name = result[0].Name;
                this.results.Account = result[0].Account;
                this.results.Country = result[0].Country;
                this.results.City = result[0].City;
                this.results.Gender = result[0].Gender;
                this.results.Remark = result[0].Remark;
            },
            async getMemberSales() {
                var _this = this;
                let memberNo = new URL(location.href).searchParams.get('MemberNo');
                let fd = new FormData();
                fd.append("memberNo", memberNo)
                let result = await $axiosPost(this.localRouter + "?handler=GetMemberSales", fd);
                console.log(result)
                this.results.Sales = result;

            },
            async getMemberInterest() {
                var _this = this;
                let memberNo = new URL(location.href).searchParams.get('MemberNo');
                let fd = new FormData();
                fd.append("memberNo", memberNo)
                let result = await $axiosPost(this.localRouter + "?handler=GetMemberInterest", fd);
                console.log(result)
                this.results.Interest = result;

            },


            async getCountry() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetCountry");
                this.countryList = result;
            },
            async getCity() {
                var _this = this;
                let fd = new FormData();
                fd.append("country", _this.results.Country)
                let result = await $axiosPost(this.localRouter + "?handler=GetCity", fd);
                this.cityList = result;
            },
            async getSales() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetSales");
                this.salesList = result;
            },
            addToSales() {
                if (!this.results.Sales.includes(this.selectedSales)) {
                    this.results.Sales.push(this.selectedSales);
                }
                console.log(this.selectedSales)
            },
            removeSales(index) {
                this.results.Sales.splice(index, 1)
            },
            async submit() {
                var _this = this;
                let fd = new FormData();
                fd.append("results", JSON.stringify(_this.results))
                fd.append("Account",_this.results.Account)
                fd.append("MemberNo", _this.results.MemberNo)
                fd.append("Name", _this.results.Name)
                fd.append("Country", _this.results.Country)
                fd.append("City", _this.results.City)
                fd.append("Gender", _this.results.Gender)
                fd.append("Remark", _this.results.Remark)
                fd.append("Sales",JSON.stringify(_this.results.Sales))
                fd.append("Interest",JSON.stringify(_this.results.Interest))
                let finalResult = await $axiosPost(this.localRouter + "?handler=Update", fd)
                if ( finalResult.result == 1) {
                    alert("更新成功")
                    location.href = 'https://localhost:44320/Search'
                } else {
                    alert("更新失敗")
                }
            }

        },
    }).mount("#root")


</script>
