@page
@model MarioWebAPP.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}
<div id="root">
    <div class="container container-fluid mb-5">

        <div class="mt-3 fix ">
            <form class="px-4" method="post" onsubmit="return false">
                <div class="Title list-inline"><h2 class="list-inline-item">Search the account</h2><h6 class="list-inline-item">(Please provide one condition at least.)</h6></div>
                <div class="row">
                    <div class="form-group col-6">
                        @*日期區間*@
                        <label for="Account" class="d-block">Record date</label>
                        <div class="d-inline-flex">
                            <input type="date"
                                   class="form-control"
                                   id="recordDate"
                                   aria-describedby=""
                                   placeholder="Date"
                                   v-model="conditions.beginDate" 
                                   @@change="checkDate()" />
                            <span class="h3">~</span>
                            <input type="date"
                                   class="form-control"
                                   id="recordDate"
                                   aria-describedby=""
                                   placeholder="Date"
                                   v-model="conditions.endDate"
                                   @@change="checkDate()" />
                        </div>
                    </div>
                    <div class="form-group col-6">
                        @*流水號*@
                        <label for="Password">Serial number</label>
                        <input type="text"
                               class="form-control"
                               id="serialNumber"
                               placeholder="Serial number"
                               v-model.trim="conditions.serialNumber" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @*國家*@
                        <label for="">Country </label>
                        <select name="Country" id="country" v-model="conditions.selectedCountry" class="d-block form-select">
                            <option value="" selected disabled>-Select-</option>
                            <option :value="cou" v-for="(cou, index) in conditions.country" :key="index">{{cou}}</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        @*城市*@
                        <label for="City">City </label>

                        <select name="City" id="city" v-model="conditions.selectedCity" class="d-block form-select">
                            <option value="" selected disabled>-Select-</option>
                            <option :value="cit" v-for="(cit, index) in conditions.city" :key="index">{{cit}}</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @*業務名*@
                        <label for="Sales">Sales</label>
                        <select name="Sales" id="sales" class="d-block form-select" v-model="conditions.sales">
                            <option :value="" selected disabled>-Select-</option>
                            <option :value="sa" v-for="(sa, index) in conditions.salesList" :key="index">{{sa}}</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        @*帳號*@
                        <label for="account">Account</label>
                        <input type="text" class="form-control" id="serialNumber" placeholder="Account" v-model="conditions.account" />
                    </div>
                </div>
                <div class="row col-2 mx-auto">
                    <button class="px-2 py-1 btn btn-primary mt-3" @@click="searchData()">Search</button>
@*                    <button class="px-2 py-1 btn btn-primary mt-3" @@click="cancel()">Cancel</button>
*@                </div>
            </form>
        </div>
        <hr />
        <div class="mt-3 fixed">
            @*搜尋結果*@
            <table class="table table-info table-bordered mt-4">
                <tr>
                    @*<th>Select</th>*@
                    <th>Record date</th>
                    <th>Serial number</th>
                    <th>Account</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th class="text-danger">Modify</th>
                </tr>
                <tr v-for="(item,key) in results" :key="key">
                    @*<td><input type="checkbox" name="" id="" /></td>*@
                    <td>{{item.CreateDate}}</td>
                    <td>{{item.MemberNo}}</td>
                    <td>{{item.Account}}</td>
                    <td>{{item.Country}}</td>
                    <td>{{item.City}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Gender}}</td>
                    <td><a :href="`https://localhost:44320/Modify?MemberNo=${item.MemberNo}`">Update</a>/<button class="btn btn-outline-danger btn-sm ml-2" @@click="deleteData(item.MemberNo)">Delete</button></td>
                </tr>
            </table>
            <div class="row col-2 mx-auto">
                @*<button class="px-2 py-1 btn btn-primary mt-3">Batch delete</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    const vm = Vue.createApp({
        data() {
            return {
                localRouter: "",
                conditions: {
                    serialNumber: "",
                    selectedCountry: "",
                    selectedCity: "",
                    sales: "",
                    account: "",
                    beginDate: "",
                    endDate: "",
                    country: "",
                    city: "",
                    salesList: [],
                    localRouter: "",
                    selectedSales: "",
                    countryIndex: 2,
                    cityIndex: 0,
                },
                results: [
                    //recordDate: [],
                    //memberNoList: [],
                    //accountList: [],
                    //countryList: [],
                    //cityList: [],
                    //nameList: [],
                    //genderList: [],
                ],
            }
        },

        mounted() {
            this.getCountry();
        },
        async created() {
            this.localRouter = await window.location.pathname;
            console.log(this.localRouter);
            this.getSales();
        },
        watch: {
            "conditions.selectedCountry"(n, o) {
                if (n != "") {
                    this.getCity()
                    console.log("aaa")
                }
            },
        },

        methods: {
            cancel(){
                this.conditions.beginDate="",
                this.conditions.endDate="",
                this.conditions.selectedCity="",
                this.conditions.selectedCountry = "",
                this.conditions.serialNumber=""
            },
            checkDate(){
                if (this.conditions.beginDate == this.conditions.endDate || this.conditions.beginDate > this.conditions.endDate) {
                    alert("結束日期至少大於起始日期一天")
                    this.conditions.endDate=""
                }
            },

            async getCity() {
                var _this = this;
                let fd = new FormData();
                fd.append("country", this.conditions.selectedCountry)
                let result = await $axiosPost(this.localRouter + "?handler=GetCity", fd);
                this.conditions.city = result;
            },
            async getCountry() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetCountry");
                this.conditions.country = result;
            },
            async searchData() {

                if (this.conditions.beginDate == "" && this.conditions.endDate == "" && this.conditions.account == "" && this.conditions.selectedCity == "" && this.conditions.sales == "" && this.conditions.serialNumber == "") {
                    alert("請輸入至少一項條件")
                } 
                else {
                    var _this = this;
                    let fd = new FormData();
                    fd.append("beginDate", this.conditions.beginDate)
                    fd.append("endDate", this.conditions.endDate)
                    fd.append("account", this.conditions.account)
                    fd.append("serialNumber", this.conditions.serialNumber)
                    fd.append("selectedCity", this.conditions.selectedCity)
                    fd.append("sales",this.conditions.sales)
                    let result = await $axiosPost(this.localRouter + "?handler=SearchResult", fd)
                    console.log(result)
                    _this.results = result;
                    console.log(_this.results)
                }
            },

            async deleteData(MemberNo) {
                let mem = MemberNo;
                if (confirm("確認刪除?")) {
                    try {

                        let fd = new FormData();
                        fd.append("MemberNo", mem)
                        let result = await $axiosPost(this.localRouter + '?handler=Delete', fd);
                        console.log(result)
                        alert("刪除成功")
                        this.searchData();
                    }
                    catch (error) {
                        alert("刪除失敗")
                    }
                }
                //TEST

                //let result = await $axiosPost(`${this.localRouter}?handler=Delete`, { MemberNo: MemberNo })
                //console.log(result)
                //.then(res=>{
                //    if(res.status<300){
                //        alert("成功")
                //    }

                //let result = await $axiosPost(this.localRouter+"handler=Delete",fd)
                //try{
                //    let fd = new FormData();
                //    fd.append("MemberNo", this.conditions.serialNumber);
                //    //let memberNo = this.conditions.serialNumber;
                //    let result = await $axiosPost(`${this.localRouter}handler=Delete`, fd);
                //    console.log(result);
                //    alert("刪除成功");
                //} catch (error) {
                //    console.log(error);
                //    alert("刪除失敗");
                //}
            },
            async getSales() {
                var _this = this;
                let result = await $axiosPost(this.localRouter + "?handler=GetSales");
                this.conditions.salesList = result;
            },

        }
    },
    );
    vm.mount("#root");


</script>
